# =========================
# ISEP teaching material
# =========================

*.ppt
*.pptx
*.doc
*.docx
*.mkv
*.mp3

# =========================
# Editors / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
*~

# =========================
# C / C++
# =========================
*.o
*.a
*.so
*.out
*.elf
*.hex
*.bin
*.d

build/
bin/
obj/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/
whisper-env/

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp

*.mp5
*.mkv
